body {
  margin: 0px;
  padding: 20px 0;
  font-size: 18px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.header {
  padding: 0 10px;
  color: #666;
  background-color: #EEE;
  text-align: center;
  height: 48.4px;
  line-height: 48.4px;
}

#foto{
  width: 98%;
  height: 400px;
  border: 1px solid;
  margin: 1%;
  box-sizing: border-box;
}

.button-container{
  margin: 1rem;
  text-align: center;
}

.button{
  border: 1px solid;
  color: #FFF;
  padding: 10px;
}

#button-action{
  font-size: large;
  border-radius: 10px;
  background-color: #66CC66;
}

#button-gallery{
  font-size: large;
  background-color: #FFCC66;
}
