body {
    margin: 0px;
    padding: 20px 0;
    font-size: 18px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.header {
    padding: 0 10px;
    color: #666;
    background-color: #EEE;
    text-align: center;
    height: 48.4px;
    line-height: 48.4px;
}

a{
    font-size: 2em;
    margin-top: 10px;
}

